.TeamPage {
  box-sizing: border-box;
  .TeamEntry {
    font-size: 45px;
    font-weight: bold;
    font-family: "Nanum Gothic", sans-serif;
    line-height: 75px;
    letter-spacing: 10px;
    text-align: center;
    padding-top: 100px;
  }
  .simpleIntroduce {
    font-size: 18px;
    font-family: "Nanum Gothic", sans-serif;
    line-height: 35px;
    text-align: center;
    margin-top: 20px;
  }
  .EntryProfiles {
    width: 1070px;
    height: 1120px;
    margin: 150px auto 100px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    .eachProfile {
      .eachMemberContainer {
        margin-bottom: 41px;
        margin-right: 3.53vw;
        position: relative;
        &:hover {
          img {
            opacity: 0.4;
          }
        }
        .memberInfo:hover {
          opacity: 1;
        }
        .imgDiv {
          border-radius: 50%;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            box-sizing: border-box;
            width: 194px;
            height: 194px;
            border-radius: 50%;
            margin: 7px;
            top: 0px;
            left: 0px;
          }
        }
        .grade3 {
          border: 1px solid rgb(255, 238, 0);
        }
        .grade2 {
          border: 1px solid rgb(112, 112, 112);
        }
        .grade1 {
          border: 1px solid rgb(0, 21, 213);
        }
        .memberInfo {
          opacity: 0;
          width: 209px;
          height: 209px;
          z-index: 2;
          position: absolute;
          display: flex;
          flex-direction: column;
          justify-content: center;
          top: 0;
          .memberType {
            width: 100%;
            text-align: center;
            top: 70px;
            font-family: NanumGothic, sans-serif;
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 30px;
          }
          div {
            bottom: 70px;
            left: 70px;
            font-size: 16px;
            font-family: "NanumGothic", sans-serif;
            font-weight: bold;
            border: none;
            text-align: center;
            background-color: rgba(255, 255, 255, 0);
            a {
              color: black;
              outline: none;
            }
          }
        }
        // .memberInfo:hover {
        //   opacity: 1;
        // }
        .memberName {
          font-size: 25px;
          font-weight: bold;
          font-family: NanumGothic, sans-serif;
          margin-left: 68px;
          margin-top: 7px;
        }
      }
    }
  }
}
