@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
.MainPage {
  .img {
    background-image: url("https://www.entrydsm.hs.kr/static/media/background.bdfcc931.png");
    height: 750px;
    text-align: center;
    color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: 70% center;
    background-size: cover;
    position: relative;
    .divsInImg {
      //   width: 100px;
      //   height: 100px;
      position: absolute;
      width: 100%;
      display: flex;
      flex-direction: column;
      text-align: center;
      padding-top: 280px;
      padding-bottom: 300px;
      .schoolName {
        font-size: 45px;
        font-weight: bold;
        font-family: "Nanum Gothic";
        margin-bottom: 10px;
      }
      .introduce {
        font-size: 60px;
        font-weight: 600;
        font-family: "Nanum Gothic";
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 20px;
      }
      button {
        font-size: 20px;
        padding: 1.2rem 1.5rem;
        border-radius: 0.3rem;
        font-weight: bold;
        font-family: "Nanum Gothic";
        color: white;
        border: none;
        background-color: rgb(121, 194, 227);
        text-align: center;
        line-height: 1.5;
      }
    }
  }
}
