.header {
  padding: 1rem;
  display: flex;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 99;
  width: 100%;
  background-color: white;
  transition: height 600ms;
  box-sizing: border-box;
  .header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
    a {
      font-size: 27px;
      font-family: BBTreeG_B;
      color: black;
    }
  }
  .header-options {
    width: 70%;
    // height: 100%;
    display: flex;
    align-items: center;
    .screenMoveButtons {
      width: 100%;
      display: flex;
      justify-content: center;
      li {
        margin-right: 5%;
        display: flex;
        .screenMoveButton {
          border: none;
          background-color: transparent;
          font-family: "BBTreeG_B";
          font-size: 16px;
          &:hover {
            color: rgb(61, 255, 235);
          }
        }
      }
    }
  }
}
